@{
    Layout = null;
}
@model List<Trip>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Business Casual - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
        }

        header {
            background-color: black;
            padding: 20px;
            color: #fff;
            text-align: center;
        }

        section {
            padding: 20px;
            border-bottom: 1px solid orange;
        }

        h2 {
            color: orange;
        }

        .book-button {
            background-color: orange;
            color: #fff;
            border-color: black;
            border-radius:20px;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
        }

        .book-button:hover {
                background-color: #ff7f00;
                cursor: pointer;
            }

    </style>

</head>
<body>
    <header>
        <h1>Tour Schedule</h1>
        <div>
            <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo.png" alt="Travel Company" /></a>
        </div>
    </header>
    @{
        int i = 1;
    }
    @foreach(var T in Model)
    {
        <section>
            <h2>Date @i :</h2>
            <ul>
                <li>Trip Destination: @T.Name</li>
                <li>Trip Date and Time: @T.Date</li>
                <li>Trip Price: @T.Price</li>
                <li>Remaining Seats: @T.Remaining_Seats</li>
            </ul>
            <a class="book-button" asp-controller="Home" asp-action="Book" asp-route-id="@T.TripId">Book</a>
        </section>
        i++;
        
    }
    <footer>
        <p style="text-align:center; color:">Contact: V-Travel@gmail.com | Phone: +972-599-962-221</p>
    </footer>
</body>
</html>
